## directories
.claude/
/doc/
docs
inputs
inputs/
inst/doc
/Meta/
outputs
outputs/
/.quarto/
tests/testthat/_problems/

## files
tests/testthat/testthat-problems.rds
**/*.quarto_ipynb
.Rproj.user
.Rhistory
.RData
.Ruserdata
J4RTmpFile
nohup.out
TODO.md
